:root {
  --color-primary: #e67e22;
  --color-primary-darker: #cf6d17;
}

// BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 59.5em; // 952px
$bp-medium: 50em; // 800px
$bp-medium-725: 45.3125em; // 725px
$bp-small: 41.875em; // 670px
$bp-smaller: 34.375em; // 550px
$bp-almost-smallest-480: 30em; //480px
$bp-smallest: 26.875em; // 430px

// BASETYLES

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%; // 1rem = 10px
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  // scroll-behavior: smooth;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}
