////////////////////////////////////////////////
// BUTTON STYLES
///////////////////////////////////////////////

.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1rem 3rem;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 100px;
    z-index: 10;

    outline: none;
  }

  &--full {
    background-color: var(--color-primary);
    color: #fff;
    position: relative;
    border: 1px solid var(--color-primary);
    margin-right: 2rem;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
  }

  &--full:hover {
    cursor: pointer;
  }

  &--full::before {
    content: '';
    position: absolute;
    border-radius: 50%;

    background-color: var(--color-primary-darker);
    border: 1px solid var(--color-primary-darker);

    bottom: 100%;
    right: 100%;
    width: 2em;
    height: 1em;

    z-index: -1;
    transform-origin: center;
    transform: translate(50%, 50%) scale(0);
    transition: transform 0.45s ease-in-out;
  }

  &--full:hover::before {
    transform: translate(50%, 50%) scale(15);
  }

  &--ghost {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    position: relative;
    overflow: hidden;
    transition: all 0.45s ease-in-out;

    &:hover,
    &:active {
      border: 1px solid var(--color-primary-darker);
      color: #fff;
      cursor: pointer;
    }
  }

  &--ghost::before {
    content: '';
    position: absolute;
    border-radius: 50%;

    background-color: var(--color-primary-darker);
    border: 1px solid var(--color-primary-darker);

    bottom: 100%;
    right: 100%;
    width: 2em;
    height: 1em;
    // color: #fff;
    z-index: -1;
    transform-origin: center;
    transform: translate(50%, 50%) scale(0);
    transition: all 0.45s ease-in-out;
  }

  &--ghost:hover::before {
    transform: translate(50%, 50%) scale(15);
    color: #fff;
  }
}
