////////////////////////////////////////////////
// BUTTON STYLES
///////////////////////////////////////////////

.btn {
	&:link,
	&:visited {
		display: inline-block;
		padding: 1rem 3rem;
		font-weight: 300;
		text-decoration: none;
		font-size: 1.4rem;
		border-radius: 100px;
		z-index: 10;
		color: #fff;
		outline: none;
	}

	&--full {
		background-color: var(--color-primary);
		color: #fff;
		position: relative;
		border: 1px solid var(--color-primary);
		margin-right: 2rem;
		overflow: hidden;
		transition: color 0.4s ease-in-out;
	}

	&--full:hover {
		cursor: pointer;
	}

	&--full::before {
		content: '';
		position: absolute;
		border-radius: 50%;

		background-color: var(--color-primary-darker);
		border: 1px solid var(--color-primary-darker);

		bottom: 100%;
		right: 100%;
		width: 2em;
		height: 1em;

		z-index: -1;
		transform-origin: center;
		transform: translate(50%, 50%) scale(0);
		transition: transform 0.45s ease-in-out;
	}

	&--full:hover::before {
		transform: translate(50%, 50%) scale(15);
	}

	&--ghost {
		color: var(--color-primary);
		border: 1px solid var(--color-primary);
		position: relative;
		overflow: hidden;

		&:hover,
		&:active {
			border: 1px solid var(--color-primary-darker);
			color: #fff;
			cursor: pointer;
		}
	}

	&--ghost::before {
		content: '';
		position: absolute;
		border-radius: 50%;

		background-color: var(--color-primary-darker);
		border: 1px solid var(--color-primary-darker);

		bottom: 100%;
		right: 100%;
		width: 2em;
		height: 1em;

		z-index: -1;
		transform-origin: center;
		transform: translate(50%, 50%) scale(0);
		transition: transform 0.45s ease-in-out;
	}

	&--ghost:hover::before {
		transform: translate(50%, 50%) scale(15);
	}
}

////////////////////////////////////////////////
// LOGO AND MAIN NAV STYLES
///////////////////////////////////////////////
.logo-box {
	height: 10rem;
	width: auto;
}

////////////////////////////////////////////////
// HEADER NAVIGATION
///////////////////////////////////////////////

.user-nav {
	display: flex;
	justify-content: space-between;
	word-spacing: 2.5px;

	padding-top: 4rem;

	&__logo {
		height: 10rem;
		width: auto;
	}
}

.main-nav {
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: flex-start;
	list-style: none;

	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	// BORDER BOTTOM MOVING OUTWARDS FROM MIDDLE

	&__link:link::after,
	&__link:visited::after {
		content: '';
		display: block;
		border-bottom: 2px solid var(--color-primary);
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
		padding-top: 8px;
	}

	&__link:hover::after,
	&__link:active::after {
		transform: scaleX(1);
	}
}

////////////////////////////////////////////////
// FEATURES SECTION
///////////////////////////////////////////////

.features {
	&__text {
		font-size: 2.3rem;
		max-width: 70%;
		margin-left: 15%;
		line-height: 1.5;
	}
}

.features-box {
	&__icon {
		font-size: 5rem;
		color: var(--color-primary);
		display: block;
		font-weight: 100;

		margin-bottom: 2rem;
	}

	&__text {
		font-size: 1.5rem;
		line-height: 1.5;
	}
}

////////////////////////////////////////////////
// FAVORITE MEALS
///////////////////////////////////////////////

.meal-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;

	&__item {
		opacity: 0.7;
		height: 100%;
		width: 100%;
		object-fit: cover;
		transform: scale(1.15);
		transition: all ease-in-out 0.23s;
	}

	&__item:hover {
		opacity: 1;
		height: 100%;
		width: 100%;
		transform: scale(1);
	}
}

////////////////////////////////////////////////
// HOW IT WORKS STEPS
///////////////////////////////////////////////

.steps {
	display: flex;
	justify-content: flex-end;

	&__img {
		height: 40rem;
		width: auto;
		margin-right: 7rem;
	}

	&__works {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		max-width: 48%;
	}

	&__box {
		display: flex;
		align-items: center;
	}

	&__number {
		color: var(--color-primary);
		border: 2px solid var(--color-primary);
		border-radius: 50%;
		justify-self: flex-start;
		display: inline-block;
		font-size: 3.3rem;
		padding: 4px;
		width: 5.5rem;
		height: 5.5rem;
		text-align: center;
		margin-right: 2rem;
	}

	&__description {
		font-size: 1.8rem;
		width: 75%;
	}

	&__app-logo {
		height: 5rem;
	}

	&__app-logo:first-child {
		margin-right: 4rem;
	}
}

////////////////////////////////////////////////
// SECTION CITIES
///////////////////////////////////////////////

.cities-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	grid-gap: 3rem;
}

.card {
	&__img {
		width: 100%;
		object-fit: cover;
		overflow: hidden;
		margin-bottom: 1rem;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__item:not(:last-of-type) {
		margin-bottom: 0.5rem;
	}

	&__icon {
		font-size: 2.5rem;
		color: var(--color-primary);
		margin-right: 1rem;
	}

	&__text {
		font-size: 1.8rem;

		&--link:link,
		&--link:visited {
			text-decoration: none;
			border-bottom: 1px solid var(--color-primary);
			color: var(--color-primary);
		}

		&--link:hover,
		&--link:active {
			text-decoration: none;
			border-bottom: 1px solid var(--color-primary-darker);
			color: var(--color-primary-darker);
		}
	}
}
