////////////////////////////////////////////////
// LOGO AND MAIN NAV STYLES
///////////////////////////////////////////////
.logo-box {
  height: 10rem;
  width: auto;
}

////////////////////////////////////////////////
// HEADER NAVIGATION
///////////////////////////////////////////////

.user-nav {
  display: flex;
  justify-content: space-between;
  word-spacing: 2.5px;

  padding-top: 4rem;

  &__logo {
    height: 10rem;
    width: auto;
  }
}

.main-nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  // BORDER BOTTOM MOVING OUTWARDS FROM MIDDLE

  &__link:link::after,
  &__link:visited::after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--color-primary);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    padding-top: 8px;
  }

  &__link:hover::after,
  &__link:active::after {
    transform: scaleX(1);
  }
}
