.header-container {
	max-width: 120rem;
	margin: 0 auto;
	height: 100vh;
}
////////////////////////////////////////////////
// HEADER
///////////////////////////////////////////////

.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.flex-container {
	display: flex;
	height: calc(100vh - 24rem);
	align-items: center;
}

////////////////////////////////////////////////
// FEATURES
///////////////////////////////////////////////

.features-grid {
	max-width: 120rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 3rem;
}

////////////////////////////////////////////////
// FAVORITE MEALS
///////////////////////////////////////////////
