.header-container {
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh;

  @media only screen and (max-width: $bp-largest) {
    padding: 0 4rem;
  }
}
////////////////////////////////////////////////
// HEADER
///////////////////////////////////////////////

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.flex-container {
  display: flex;
  height: calc(100vh - 24rem);
  align-items: center;
}

////////////////////////////////////////////////
// FEATURES
///////////////////////////////////////////////

.features-grid {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 3rem;

  @media only screen and (max-width: $bp-large) {
    padding: 0 3rem;
  }
}

////////////////////////////////////////////////
// FAVORITE MEALS
///////////////////////////////////////////////

.favorite-meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

////////////////////////////////////////////////
// HOW IT WORKS STEPS
///////////////////////////////////////////////

.how-to {
  background-color: #f4f4f4;
}

////////////////////////////////////////////////
// SECTION CITIES
///////////////////////////////////////////////

.section-cities {
  max-width: 120rem;
  margin: 0 auto;
}

////////////////////////////////////////////////
// SECTION TESTIMONIALS
///////////////////////////////////////////////

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/back-customers.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

////////////////////////////////////////////////
// SECTION PLANS
///////////////////////////////////////////////

.section-plans {
  background-color: #f4f4f4;
}

////////////////////////////////////////////////
// SECTION FOOTER
///////////////////////////////////////////////

.section-footer {
  background-color: #333444;
  padding-bottom: 3rem;
}
