.plans {
  display: flex;
  justify-content: space-around;

  max-width: 120rem;
  margin: 0 auto;

  &__box {
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__price {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    justify-self: flex-start;

    &--big {
      font-size: 4rem;
      color: var(--color-primary);
    }
  }

  &__list {
    list-style: none;
    font-size: 1.5rem;
  }

  &__item {
    margin-bottom: 1.3rem;
    display: flex;
  }

  &__icon {
    margin-top: 3px;
    color: var(--color-primary);
  }
}
