.plans {
  display: flex;
  justify-content: space-around;

  max-width: 100rem;
  margin: 0 auto;

  @media only screen and (max-width: $bp-largest) {
    justify-content: space-between;
    max-width: 70%;
  }

  @media only screen and (max-width: $bp-medium) {
    max-width: 100%;
    margin: 0 5rem;
  }

  @media only screen and (max-width: $bp-medium-725) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 2px 30px #dfdfdf;

    @media only screen and (max-width: $bp-medium-725) {
      margin-bottom: 2rem;
      align-items: center;
      width: 40%;
    }

    @media only screen and (max-width: $bp-smaller) {
      width: 100%;
    }
  }

  &__price {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    justify-self: flex-start;

    &--big {
      font-size: 4rem;
      font-weight: 300;
      color: var(--color-primary);
    }
  }

  &__list {
    list-style: none;
    font-size: 1.5rem;

    border-bottom: 1px solid #d8d6d6;
    margin-bottom: 1.3rem;
  }

  &__item {
    margin-bottom: 1.3rem;
    display: flex;
  }

  &__item:first-child {
    padding-top: 13px;
  }

  &__item:last-child {
    padding-bottom: 13px;
  }

  &__icon {
    margin-top: 3px;
    color: var(--color-primary);
    margin-right: 1rem;
  }
}

.flex-item:not(:first-child) {
  border-top: 1px solid #d8d6d6;
}
