.mb-small {
  margin-bottom: 2rem !important;
}

.mb-medium {
  margin-bottom: 3rem !important;
}

.mb-large {
  margin-bottom: 8rem !important;
}

.center-text {
  text-align: center !important;
}

.pt-large {
  padding-top: 8rem !important;
}
