:root {
  --color-primary: #e67e22;
  --color-primary-darker: #cf6d17; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

body {
  box-sizing: border-box; }

.header-container {
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.flex-container {
  display: flex;
  height: calc(100vh - 24rem);
  align-items: center; }

.features-grid {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem; }

.favorite-meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 100%); }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 100px;
  z-index: 10;
  color: #fff;
  outline: none; }

.btn--full {
  background-color: var(--color-primary);
  color: #fff;
  position: relative;
  border: 1px solid var(--color-primary);
  margin-right: 2rem;
  overflow: hidden;
  transition: color 0.4s ease-in-out; }

.btn--full:hover {
  cursor: pointer; }

.btn--full::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-primary-darker);
  border: 1px solid var(--color-primary-darker);
  bottom: 100%;
  right: 100%;
  width: 2em;
  height: 1em;
  z-index: -1;
  transform-origin: center;
  transform: translate(50%, 50%) scale(0);
  transition: transform 0.45s ease-in-out; }

.btn--full:hover::before {
  transform: translate(50%, 50%) scale(15); }

.btn--ghost {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  position: relative;
  overflow: hidden; }
  .btn--ghost:hover, .btn--ghost:active {
    border: 1px solid var(--color-primary-darker);
    color: #fff;
    cursor: pointer; }

.btn--ghost::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-primary-darker);
  border: 1px solid var(--color-primary-darker);
  bottom: 100%;
  right: 100%;
  width: 2em;
  height: 1em;
  z-index: -1;
  transform-origin: center;
  transform: translate(50%, 50%) scale(0);
  transition: transform 0.45s ease-in-out; }

.btn--ghost:hover::before {
  transform: translate(50%, 50%) scale(15); }

.logo-box {
  height: 10rem;
  width: auto; }

.user-nav {
  display: flex;
  justify-content: space-between;
  word-spacing: 2.5px;
  padding-top: 4rem; }
  .user-nav__logo {
    height: 10rem;
    width: auto; }

.main-nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none; }
  .main-nav__link:link, .main-nav__link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem; }
  .main-nav__link:link::after, .main-nav__link:visited::after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--color-primary);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    padding-top: 8px; }
  .main-nav__link:hover::after, .main-nav__link:active::after {
    transform: scaleX(1); }

.features__text {
  font-size: 2.3rem;
  max-width: 70%;
  margin-left: 15%;
  line-height: 1.5; }

.features-box__icon {
  font-size: 5rem;
  color: var(--color-primary);
  display: block;
  font-weight: 100;
  margin-bottom: 2rem; }

.features-box__text {
  font-size: 1.5rem;
  line-height: 1.5; }

.meal-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }
  .meal-img__item {
    opacity: 0.7;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.15);
    transition: all ease-in-out 0.23s; }
  .meal-img__item:hover {
    opacity: 1;
    height: 100%;
    width: 100%;
    transform: scale(1); }

.heading-1,
.heading-2,
.heading-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; }

.heading-1 {
  font-size: 3.5rem;
  word-spacing: 4px;
  color: #fff; }

.heading-2 {
  font-size: 3.2rem;
  word-spacing: 2px; }

.heading-2:after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--color-primary);
  width: 10rem;
  margin: 3rem auto; }

.heading-3 {
  font-size: 2.1rem;
  margin-bottom: 1rem; }

.mb-small {
  margin-bottom: 2rem !important; }

.mb-medium {
  margin-bottom: 3rem !important; }

.mb-large {
  margin-bottom: 8rem !important; }

.center-text {
  text-align: center !important; }
